.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  border: 1px solid black;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
   align-self: center;
   margin-left: 380px;
   margin-right: 380px;
}

.trybewarts-header-logo{
    margin-left: 10px;
}